BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SortIncludes: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
